<div class="container">
  <div>
    <%= link_to "Title", root_path(query: params[:query], query_town: params[:query_town]), class: "filtre-button btn-sucess" %>
    <%= link_to "Playlist", lists_path( query: params[:query], query_town: params[:query_town]), class: "filtre-button btn-sucess"  %>
  </div>

    <% @lists.each do |list| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h5 class="card-title"><%= "#{list.name} ( #{list.tags} )" %></h5>
        <h6> <%= list.user.pseudo %> </h6>
        <p class="card-logo">
          <a class="btn btn-light"><i class="fas fa-play"></i></a>
          <%= link_to "", edit_user_list_path(list), class: "fas fa-edit btn btn-light" %>
          <%= link_to "", user_list_path(list), method: :delete, class: "fas fa-trash btn btn-light" %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
