<div class="container">

  <p class="h1 text-center">My recommendations</p>

  <div class="row d-flex" >
    <% @reposts.each do |repost| %>
    <div class="w-75 col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
      <div class="card" style="width: 100%;">
        <% if repost.song.photo.present? %>
        <%= cl_image_tag(repost.song.photo, width: 400, height: 300, crop: :fill) %>
        <% end %>

        <div class="card-body">
          <audio id="player" class="w-100" controls>
            <source src="<%= repost.song.video %>" type="audio/mp3">
            </audio>
            <div class="name"><h5 class="card-title-song"><%= repost.song.title  %></h5></div>
            <h6 class="card-artistname"><%= link_to repost.song.user.pseudo, user_path(repost.song.user) %></h6>
            <div class="card-logo d-flex justify-content-center">
              <% unless current_user.nil? %>
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                  <i class="fas fa-plus btn btn-light"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% current_user.lists.each do |list| %>
                  <%= link_to list.name, song_list_songs_path(list_id: list.id, song_id: repost.song.id), class: "dropdown-item", method: :post %>
                  <% end %>
                </div>
                <% unless current_user.nil? %>
                <% if current_user == repost.user %>
                <%= link_to user_repost_path(current_user, repost.id), method: :delete do %>
                <i class="fas fa-retweet" style="color: $orange"></i>
                <% end %>
                <% else %>
                <%= link_to user_reposts_path(user_id: current_user, song_id: repost.song.id), method: :post do %>
                <i class="fas fa-music mx-1" style="color: $orange"></i>
                <% end %>
                <% end %>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
