<div class="container">
  <p class="h1 text-center">My musics</p>

   <figure>
    <div>
    <button type="button" class="btn-createlist" data-toggle="modal" data-target="#exampleModal">
     <span>Add song +</span>
      <span style="color: black" >Add song +</span>
      </button>
    </div>
  </figure>




  <div class="row d-flex">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Yours song</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <div aria-hidden="true">&times;</div>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'formb'%>
          </div>
        </div>
      </div>
    </div>

    <% i = 0 %>
    <% @songs.each do |song| %>
    <% i = i + 1 %>
    <div class="w-75 col-lg-3 col-md-3 col-sm-12">
      <div class="card">
        <% if song.photo.present? %>
          <%= cl_image_tag(song.photo, width: 400, height: 300, crop: :fill) %>
        <% end %>
        <%#= render 'shared/share' %>
        <div class="card-body">
          <audio id="player" controls>
            <source src="<%= song.video %>" type="audio/mp3" controlscontrolsList="nodownload">
            </audio>
            <div class="name"><h5 class="card-title-song"><%= song.title  %></h5></div>
            <h6 class="card-artistname"><%= link_to song.user.pseudo, user_path(song.user) %></h6>
            <div class="card-logo ">
              <% unless current_user.nil? %>
              <div class="dropdown w-100">
                <div class="align-buton">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    <i class="fas fa-plus btn btn-light" style="color: white"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% @user_lists.each do |list| %>
                      <%= link_to list.name, song_list_songs_path(list_id: list.id, song_id: song.id), class: "dropdown-item", method: :post %>
                    <% end %>
                  </div>
                  <% unless current_user.nil? %>
                    <% reposted = false %>
                    <% @reposts.each do |repost| %>
                      <% if song.id == repost.song_id %>
                        <%= link_to user_repost_path(current_user, repost.id), method: :delete do  %>
                        <i class="fas fa-retweet" style="color: $orange"></i>
                        <% end %>
                        <% reposted = true %>
                      <% end %>
                    <% end %>
                    <% if reposted == false %>

                      <%= link_to user_reposts_path(user_id: current_user, song_id: song), method: :post do %>
                        <i class="fas fa-retweet" style="color: white"></i>
                        <% end %>
                    <% end %>
                    <a type="button" class="fas fa-edit mx-1" style="color: white" data-toggle="modal" data-target="#exampleModal<%= i %>">
                    </a>

                          <!-- Modal -->
                      <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit song</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <div aria-hidden="true">&times;</div>
                            </button>
                          </div>
                          <div class="modal-body">
                            <%= render 'formz', song: song%>
                          </div>

                          </div>
                        </div>
                      </div>

                  <% end %>

                    <%= link_to artist_song_path(song) do %>
                    <i class="fas fa-info-circle" style="color: white"></i>
                    <% end %>

                </div>
                <div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
