<div class='text-center'> <h1>My musics</h1> </div>
<div class='text-center'>
<%= link_to new_artist_song_path(@song), class: 'btn btn-secondary' do %>
<i class="fas fa-plus"></i><p>Music</p>
<% end %>
</div>
<div class="container">
  <div class="row" >
    <% @songs.each do |song| %>
      <div class="col-4">
          <div class="card">
            <div class="card-trip-infos">
              <div>
                <%= link_to artist_song_path(song) do %>
                  <% if song.photo.present? %>
                    <%= cl_image_tag(song.photo, width: 400, height: 300, crop: :fill) %>
                  <% end %>
                  <p><%= song.title %></p>
                  <p><%= song.user.name %></p>
                  <audio id="player" controls>
                    <source src="<%= song.video %>" type="audio/mp3">
                  </audio>
                  <p class="card-logo">
                    <a class="btn btn-light"><i class="fas fa-bookmark"></i></a>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

