
<div class='text-center'> <h1>Presentation of music</h1> </div>
  <div class="card-product">
  <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="...">
    <div class="card-product-infos">
    <h2><%= @song.title %></h2>
    <p>Description : <%= @song.description %></p>
    <p>Tags : <%= @song.tags %></p>
    <p>Posted_at : <%= @song.post_at %></p>
    <p>Duration : <%= @song.duration %></p>
    <p class="card-logo">
     <%= link_to artist_songs_path(@song), class: "btn btn-light" do %>
      <i class="fas fa-undo-alt"></i>
     <% end %>
      <% if !current_user.nil? %>
        <a class="btn btn-light"><i class="fas fa-edit"></i></a>
        <a class="btn btn-light"><i class="fas fa-trash-alt"></i></a>
      <% end %>
      <a class="btn btn-light"><i class="fas fa-bookmark"></i></a>
      <a class="btn btn-light"><i class="fas fa-play"></i></a>
    </p>
    </div>
</div>








