  <p class="h1 text-center">Presentation</p>

      </div>
        <div class="card-productM">
        <% if @song.photo.present? %>
          <%= cl_image_tag(@song.photo, width: 400, height: 300, crop: :fill) %>
        <% end %>
        <div class="card-product-infos">
            <h2><%= @song.title %></h2>
            <p>Description : <%= @song.description %></p>
            <p>Tags : <%= @song.tags %></p>
            <p>Posted_at : <%= @song.post_at %></p>
            <p>Duration : <%= @song.duration %></p>
            <p class="card-logo">
             <%= link_to artist_songs_path(@song), class: "btn btn-light" do %>
              <i class="fas fa-undo-alt"></i>
             <% end %>
              <% if !current_user.nil? %>
                  <%= link_to edit_artist_song_path(@song), class: "btn btn-light" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to artist_song_path(@song), method: :delete, class: "btn btn-light" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
              <% end %>
              <a class="btn btn-light"><i class="fas fa-bookmark"></i></a>
              <a class="btn btn-light"><i class="fas fa-play"></i></a>
          </p>
          </div>
        </div>
      </div>








