<div>
  <%= simple_form_for(@list, url: user_list_path, method: :patch) do |f| %>
  <%= f.input :name %>
  <%= f.input :tags %>
  <%  %>
  <%= f.submit "Update", class: "btn-newlist" %>
  <% end %>
</div>

<div>
  <% if  @list_songs.size == 0 %>
      <p>No music</p>
  <% else %>
      <table>
      <% @list_songs.each do |list_song| %>
        <tr><td><%= list_song.song.title %></td>
        <td><%= link_to "", song_list_song_path(list_song: list_song.id, song_id: list_song.song_id), method: :delete, class: "fas fa-minus btn btn-light" %></td></tr>
      <% end %>
      </table>
  <% end %>
</div>
