<div class="container d-flex flex-column justify-content-center">
  <div class= "formupdatelist">
    <%= simple_form_for(@list, url: user_list_path, method: :patch) do |f| %>
      <%= f.input :name %>
      <%= f.input :tags %>
      <%= f.input :post_at, as: :string, required: false, input_html: {class: "datepicker"}%>
      <%= f.submit "Update", class: "btn-updatelist" %>
      <hr>
      <div>
        <% if @list_songs.size == 0 %>
          <p>No music</p>
        <% else %>

<div id="container">
  <div id="audio-image">
    <img class="cover">
  </div>
  <div id="audio-player">
    <div id="audio-info">
      <div class="artist"></div>
      <div class="title"></div>
    </div>
    <input id="volume" type="range" min="0" max="10" value="4">
    <br>
    <div id="buttons">
      <button id="prev"></button>
      <button id="play"></button>
      <button id="pause"></button>
      <button id="stop"></button>
      <button id="next"></button>
      </div>
    <div class="clearfix"></div>
    <div id="tracker">
      <div id="progress-bar"> <div id="progress"></div> </div>
      <div id="duration">0:00</div> </div>
    <div class="clearfix"></div>
    <ul id="playlist" class="hidden">
      <% @list_songs.each do |list_song| %>
        <li song=" <%= list_song.song.video %> " cover=<%= list_song.song.photo %> artist=""><%= list_song.song.title %></li>
      <% end %>
    </ul>
  </div>
</div>
          <hr>
          <table>
          <% @list_songs.each do |list_song| %>
            <tr><td><%= list_song.song.title %></td>
            <td><%= link_to "", song_list_song_path(list_song: list_song.id, song_id: list_song.song_id), method: :delete, class: "fas fa-minus btn btn-light" %></td></tr>
          <% end %>
          </table>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
