<div class="container d-flex flex-column justify-content-center">
  <div class= "formupdatelist">
    <%= simple_form_for(@list, url: user_list_path, method: :patch) do |f| %>
    <%= f.input :name %>
    <%= f.input :tags %>
    <%= f.input :post_at %>
    <%  %>
    <%= f.submit "Update", class: "btn-updatelist" %>
    <% end %>
  </div>
</div>

