<p class="h1 text-center">My Playlists</p>

<div class="container">

  <figure>
    <div>
      

    <button type="button" class="btn-createlist" data-toggle="modal" data-target="#exampleModal">
     <span>Create playlist</span>
      <span style="color: black" >Create playlist</span>
      </button>
    </div>
  </figure>

  <% @lists.each do |list| %>
    <div class="row d-flex justify-content-center">
      <div class="col-10 card-playlist d-flex justify-content-center">
        <div class="row w-100">
          <!-- Colonne de gauche -->
          <div class="card-lecteur left-panel col-6">

            <h5 class="card-title"><%= "#{list.name} - #{list.tags}" %></h5>

            <div class="w-100">
              <div id="audio-info">
                <div class="artist"></div>
                <div class="title"></div>
              </div>
              <div class="playlist-player">
                <div  class="time-song d-flex">
                  <div id="duration">
                    0:00
                  </div>
                  <div id="progress-bar">
                    <div id="progress">
                    </div>
                  </div>
                </div>
                <div id="buttons">
                  <button id="prev"></button>
                  <button id="play"></button>
                  <button id="pause"></button>
                  <button id="stop"></button>
                  <button id="next"></button>
                </div>
                <input id="volume" type="range" min="0" max="10" value="4">
              </div>
            </div>

            <div class="playlist-buttons">
              <%= link_to "", edit_user_list_path(list), class: "fas fa-edit btn btn-light" %>
              <%= link_to "", user_list_path(list), method: :delete, class: "fas fa-trash btn btn-light" %>
            </div>
          </div>
          <!-- Colonne de droite -->
          <div class="col-6 right-panel">
            <div id="audio-image">
              <img class="cover">
            </div>
            <div class="clearfix">
              <ul id="playlist" class="hidden">
                <% @list_songs.each do |list_song| %>
                  <li song=" <%= list_song.song.video %> " cover=<%= list_song.song.photo %> artist=""><%= list_song.song.title %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

