<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="button-search">
    <%= simple_form_for :searchbar, wrapper: :inline_form, html: { class: 'form-inline' }  do |form| %>
      <%= form.input :town, label: false, placeholder: "Title, Artist, Tag" %>
      <%= button_tag(type: 'submit', class: "btn button-search") do %>
      <i class="fas fa-search"></i>
      <% end %>
    <% end %>


    <%= simple_form_for :searchbar, wrapper: :inline_form, html: { class: 'form-inline' }  do |form| %>
    <%= form.input(:town, label: false, placeholder: "Town")   %>
    <%= button_tag(type: 'submit', class: "btn button-search") do %>
    <i class="fas fa-search"></i>
    <% end %>
    <% end %>
  </div>

<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Playlist', lists_path %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My radio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="avatar dropdown-toggle" id="navbarDropdown" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          Username
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profil</a>
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#"></a>
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <%= lin_to "log out", %>
        </div>
      </li>
    </ul>
  </div>




</div>
