<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="position: sticky;top: 0px;z-index: 1;">
  <a class="navbar-brand" href="/">
    <%= image_tag "logo.png" %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class= "searchbar">
    <% if current_page?(root_path) %>
      <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form control", placeholder: "Find title, artist, tag", class:"rounded"  %>
      <%= text_field_tag :query_town, params[:query_town], class: "form control", placeholder: "Find town", class:"rounded" %>
      <%= button_tag(type: "submit", class: "btn button-search") do %><i class="fas fa-search"></i><% end %>
    <% end %>
    <% else %>
      <%= form_tag lists_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form control", placeholder: "Find title, artist, tag" %>
      <%= text_field_tag :query_town, params[:query_town], class: "form control", placeholder: "Find town" %>
      <%= button_tag(type: "submit", class: "btn button-search") do %><i class="fas fa-search"></i><% end %>
    <% end %>
  <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <div class="Aligner">
        <li class="nav-item">
          <%= link_to 'Home', "/", class: "button-menu" %>

        </li>
        <% unless current_user.nil? %>
        <li class="nav-item">
          <%= link_to 'News', user_favorites_path(current_user), class: "button-menu" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My music', artist_songs_path, class: "button-menu" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My playlists', user_lists_path, class: "button-menu" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My stream', user_reposts_path(current_user), class: "button-menu" %>
        </li>

        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <%= current_user.name.upcase %>
          </div>
          <% end %>
          <% if user_signed_in? %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Profil", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
          </div>
          <% else %>
          <%= link_to "Login", new_user_session_path, class: "button-log" %>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
</div>
